{
  "printWidth": 80,
  "spaceBeforeFunctionParen": true,
  "generatorStarSpacing": true,
  "yieldStarSpacing": true,
  "singleQuote": true,
  "semi": false,
  "jsxSingleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "embeddedLanguageFormatting": "off"
}
