
.home-page-style {
    background: url('/src/assets/background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    @media(max-width: 768px) {
        background: url('/src/assets/backgroundMobile.jpg');
        background-color: #694a39;
        background-size: 145% auto;
        background-repeat: no-repeat;
        background-position: center;
    }
}
